*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root{
    --colorWhite:#ffffff;
    --colorBlack:#000000
}
.title{
    color: black;
    background-color: rgb(46, 196, 158);
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    background: var(--colorBlack);
    margin: auto;
}
.btn{
    height: 40px;
    width: 120px;
    word-spacing: 8px;
    letter-spacing: 3px;
    border-radius: 0 10px 0 10px;
    border: none;
    
}